.list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.imgs {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
}
.adj1 {
  display: flex;
  margin-right: 50px;
}
.adj2 {
  display: flex;
  padding-left: 40px;
  padding-right: 10px;
}
.p1 {
  padding-right: 20px;
}
